# Dependencies & Logs
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files & Zip backups
*.zip
*.html.bak
.DS_Store
Thumbs.db
PTX Summer Cup 2026 2.4 - Update Version.html
PTX*.html

# Temp scratch files
scratch/

# Legacy backup folders
PTX-*/
PTX-*
thư viện/
.netlify/
"thư viện/"
"th\306\260 vi\341\273\207n/"
